[user]
	name = david-fong
	email = davidfong19@gmail.com
[core]
	editor = vim
[winUpdater]
    recentlySeenVersion = 2.22.0.windows.1
[merge]
    tool = vimdiff
[alias]
    fall = "!f() { \
        echo   \"=== REMOTES ==============================================================================================================\"; \
        git fetch -v --all; \
        echo \"\n=== BRANCHES =============================================================================================================\"; \
        git branch -avv; \
    }; f"
    graph = "!f() { \
        echo; \
        git log --oneline --graph --all --decorate --color=always -n\"$((LINES-4))\" | head -n\"$((LINES-4))\"; \
    }; f;"
    yes = "!yes"
