*~
*__local
*__local.*

/*
!/README.md
!/LICENSE
!/.gitattributes
!/.gitignore
!/.vscode
!/blank.html
!/init.sh
!/apt.md
!/windows-notes.md
!/mimeapps.list
!/ublockorigin
!/adblock-filters.txt
!/dash-to-panel.txt
!/xkb
!/autohotkey
!/etc
!/readline
!/bash
!/lesskey
!/nnn
!/vim
!/nano
!/gnome-terminal.dump
!/mintty
!/Code
!/git
!/grep
!/ccache
!/gdb
!/npm
!/yt-dlp
!/mpv
!/.conan
!/modelsim
!/asethior.json

/git/gitk

# /user-dirs.dirs
# /user-dirs.locale
# /audacity/
# /fish/
# /gh/
# /lf/
# /mc/
# /sqlitebrowser/
