[user]
	name = david-fong
	email = davidfong19@gmail.com
[core]
	editor = vim
[winUpdater]
    recentlySeenVersion = 2.22.0.windows.1
[merge]
    tool = vimdiff
[alias]
    fall = "!f() { \
        tput rmam; \
        heading \"REMOTES\"; \
        git fetch -v --all; \
        echo; \
        heading \"BRANCHES\"; \
        git branch -avv; \
        tput smam; \
        }; f;"
    graph = "!f() { \
        echo; \
        tput rmam; \
        git log --oneline --graph --all --decorate --color=always -n\"$((LINES-1-PSLINES))\" | head -n\"$((LINES-1-PSLINES))\";  \
        tput smam; \
        }; f;"

